<app-page-header [header]="'Tìm kiếm sản phẩm'" [breadcrumbs]="[
    {label: 'Trang chủ',         url: '/'},
    {label: 'Tìm kiếm sản phẩm', url: '/cua-hang/tim-kiem-san-pham/' + search }
]"></app-page-header>

<ng-container *ngIf="columns > 3">
  <div class="container">
    <div class="block">
      <app-products-view [layout]="viewMode" [grid]="'grid-'+columns+'-full'" [sorts]="sorts" [products]="products"
        [pagingHeaders]="pagingHeaders" (sortChange)="sortChange($event)" (pageChange)="pageChange($event)">
      </app-products-view>
    </div>
  </div>
</ng-container>
