<div *ngIf="product" class="product-tabs" [ngClass]="{'product-tabs--layout--sidebar': withSidebar}">
  <div class="product-tabs__list">
    <a href="#tab-description" class="product-tabs__item"
      [ngClass]="{'product-tabs__item--active': tab === 'description'}"
      (click)="$event.preventDefault(); tab = 'description'">
      Thông tin sản phẩm
    </a>
  </div>
  <div class="product-tabs__content">

    <div class="product-tabs__pane" id="tab-description"
      [ngClass]="{'product-tabs__pane--active': tab === 'description'}">
      <div class="typography">
        <div class="content" *ngIf="content" [innerHTML]="content"></div>
        <ng-template ngFor let-image [ngForOf]="images">
          <img [alt]="product?.name" defaultImage="/assets/images/350x467/placeholder.png" [lazyLoad]="image">
        </ng-template>
      </div>
    </div>

  </div>
</div>
