<!--  -->
<ng-template [ngIf]="name === 'zalo-dat-hang'">
  <div class="heading-label">
      <h3 class="heading-text">CÁC KÊNH TƯ VẤN NHẬP HÀNG SỈ:</h3>
      (bấm vào nút bên dưới để kết bạn Zalo/Facebook)
  </div>
  <a href="https://m.me/bosiquanao.net" class="add-btn facebook-btn" id="messengernow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-facebook"></i></span>Kết bạn Facebook</a>
  <a href="https://zalo.me/0918567409" class="add-btn zalo-btn" id="zalonow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-zalo"></i></span>Kết bạn Zalo 1: 0918567409</a>
  <a href="https://zalo.me/0913268406" class="add-btn zalo-btn" id="zalonow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-zalo"></i></span>Kết bạn Zalo 2: 0913268406</a>
  <a href="https://zalo.me/0936786404" class="add-btn zalo-btn" id="zalonow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-zalo"></i></span>Kết bạn Zalo 3: 0936786404</a>
  <a href="https://zalo.me/0918569400" class="add-btn zalo-btn" id="zalonow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-zalo"></i></span>Kết bạn Zalo 4: 0918569400</a>
  <a href="https://ann.com.vn/dang-ky?referer=khohangsiann.com" class="add-btn reg-btn" id="messengernow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-reg"></i></span>Đăng ký tư vấn nhập sỉ</a>
  <br>
</ng-template>

<!--  -->
<ng-template [ngIf]="name === 'zalo-xem-hang'">
    <div class="heading-label">
        <h3 class="heading-text">CÁC ZALO XEM HÀNG SỈ:</h3>
        <p>(bấm vào nút bên dưới để kết bạn Zalo)</p>
        <p><strong>(ANN không nhận đơn hàng trên các Zalo này)</strong></p>
    </div>
    <a href="https://zalo.me/0977399405" class="add-btn zalo-btn" id="zalonow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-zalo"></i></span>Quần áo nam: 0977.399.405</a>
    <a href="https://zalo.me/0987409403" class="add-btn zalo-btn" id="zalonow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-zalo"></i></span>Quần áo nữ: 0987.409.403</a>
    <a href="https://zalo.me/0967702402" class="add-btn zalo-btn" id="zalonow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-zalo"></i></span>Đồ bộ nữ: 0967.702.402</a>
    <a href="https://zalo.me/0971406402" class="add-btn zalo-btn" id="zalonow" target="_blank" rel="nofollow"><span class="icon-span"><i class="icon-btn icon-zalo"></i></span>Hàng sale: 0971.406.402</a>
    <br>
</ng-template>