<!-- .block-products -->
<div class="block block-products block-products--layout--normal">
  <div class="container">
    <app-block-header [header]="header"></app-block-header>
    <div class="block-products__body">
      <div class="block-products__list">
        <div *ngFor="let product of products; last as isLast" class="block-products__list-item-normal">
          <app-product-card [product]="product"></app-product-card>
          {{ isLast ? loading(!isLast) : '' }}
        </div>
      </div>
    </div>
    <div class="block-products__footer">
      <a [routerLink]="root.category(slug)" class="btn btn-primary"> Xem tất cả {{header}}</a>
    </div>
  </div>
</div>
<!-- .block-products / end -->
