<app-page-header [header]="'Hướng dẫn đặt hàng'" [breadcrumbs]="[
    {label: 'Trang chủ',      url: '/'},
    {label: 'Hướng dẫn đặt hàng', url: '/page/huong-dan-dat-hang'}
]"></app-page-header>
<div class="container">
  <div class="block">
      <app-shortcode [name]="'zalo-dat-hang'"></app-shortcode>
      <img src="/uploads/ban-hang/1-hotline.png?v=09092019" alt="Hotline Sỉ quần áo" width="800" height="800" />
      <img src="/uploads/ban-hang/2-chinh-sach.png?v=09092019" alt="Chính sách bỏ sỉ quần áo" width="800" height="800" />
      <img src="/uploads/ban-hang/3-chiet-khau.png?v=09092019" alt="Chính sách chiết khấu" width="800" height="800" />
      <img src="/uploads/ban-hang/4-ban-cai-gi.png?v=09092019" alt="ANN bán cái gì?" width="800" height="800" />
      <img src="/uploads/ban-hang/4-zalo-xem-hang.png?v=09092019" alt="Zalo xem hàng sỉ" width="800" height="800" />
      <img src="/uploads/ban-hang/5-ship.png?v=09092019" alt="Chính sách vận chuyển" width="800" height="800" />
      <img src="/uploads/ban-hang/6-doi-tra.png?v=09092019" alt="Quy định đổi trả" width="800" height="800" />
      <img src="/uploads/ban-hang/7-tuyen-dai-ly.png?v=09092019" alt="Tuyển đại lý" width="800" height="800" />
      <img src="/uploads/ban-hang/8-thong-tin-lien-he.png?v=09092019" alt="Thông tin liên hệ" width="800" height="800" />
      <img src="/uploads/ban-hang/9-map.png?v=09092019" alt="Hướng dẫn chỉ đường" width="1200" height="935" />
  </div>
</div>