<app-page-header [header]="'Chính sách bán sỉ'" [breadcrumbs]="[
    {label: 'Trang chủ',      url: '/'},
    {label: 'Chính sách bán sỉ', url: '/page/chinh-sach-ban-si'}
]"></app-page-header>
<div class="container">
  <div class="block">
      <img src="/uploads/ban-hang/2-chinh-sach.png?v=09092019" alt="Chính sách bỏ sỉ quần áo" width="800" height="800" />
      <img src="/uploads/ban-hang/3-chiet-khau.png?v=09092019" alt="Chính sách chiết khấu" width="800" height="800" />
      <img src="/uploads/ban-hang/5-ship.png?v=09092019" alt="Chính sách vận chuyển" width="800" height="800" />
      <img src="/uploads/ban-hang/6-doi-tra.png?v=09092019" alt="Quy định đổi trả" width="800" height="800" />
  </div>
</div>