<div class="nav-panel">
  <div class="nav-panel__container container">
    <div class="nav-panel__row">
      <div *ngIf="logo" class="nav-panel__logo">
        <a routerLink="/">
          <img src="assets/images/ANNlogo.png" height="32" alt="ANN">
        </a>
      </div>

      <!-- .nav-links -->
      <app-header-links class="nav-panel__nav-links nav-links"></app-header-links>
      <!-- .nav-links / end -->

      <div class="nav-panel__indicators">
        <div *ngIf="search" class="indicator indicator--trigger--click" appDropdown="indicator--opened"
          #search="appDropdown">
          <button type="button" class="indicator__button"
            (click)="$event.preventDefault(); search.toggle(); search.isOpen ? searchField.focus() : '';">
            <span class="indicator__area">
              <app-icon class="indicator__icon" name="search-20" size="20"></app-icon>
              <app-icon class="indicator__icon indicator__icon--open" name="cross-20" size="20"></app-icon>
            </span>
          </button>

          <div class="indicator__dropdown">
            <div class="drop-search">
              <form action="/cua-hang" class="drop-search__form">
                <input class="drop-search__input" name="search" (keydown.escape)="search.close()"
                  placeholder="Hơn 2.000 sản phẩm khác nhau" aria-label="Tìm sản phẩm" type="text" autocomplete="off"
                  #searchField>
                <button class="drop-search__button drop-search__button--submit" type="submit">
                  <app-icon name="search-20" size="20"></app-icon>
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="indicator">
          <a [routerLink]="root.url('/cua-hang/danh-sach-san-pham-yeu-thich')" class="indicator__button">
            <span class="indicator__area">
              <app-icon name="heart-20" size="20"></app-icon>
              <span class="indicator__value">{{ wishlist.count$|async }}</span>
            </span>
          </a>
        </div>

        <div class="indicator">
          <a class="indicator__button" appClick (click)="showCopyConfig()"
            [ngClass]="{'btn-loading': copyingProductInfo}">
            <span class="indicator__area">
              <app-icon name="gear-512" size="20"></app-icon>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
