<app-page-header [header]="'Thông tin liên hệ'" [breadcrumbs]="[
    {label: 'Trang chủ',      url: '/'},
    {label: 'Thông tin liên hệ', url: '/page/lien-he'}
]"></app-page-header>

<div class="container">
  <div class="block">
      <app-shortcode [name]="'lien-he'"></app-shortcode>
      <div class="lien-he">
          <p>Địa chỉ: 68 Đường C12, P. 13, Q. Tân Bình, TP. HCM <a title="Xem bản đồ" rel="nofollow" href="https://maps.google.com/maps?cid=5068651584244638837&hl=vi">(xem bản đồ Google)</a></p>
          <p>Zalo: <a href="https://zalo.me/0918569400" class="zalo-0918569400" target="_blank" rel="nofollow">0918569400</a> - <a href="https://zalo.me/0918567409" class="zalo-0918567409" target="_blank" rel="nofollow">0918567409</a> - <a href="https://zalo.me/0913268406" class="zalo-0913268406" target="_blank" rel="nofollow">0913268406</a> - <a href="https://zalo.me/0936786404" class="zalo-0936786404" target="_blank" rel="nofollow">0936786404</a></p>
          <p>Facebook: <a href="https://m.me/bosiquanao.net" target="_blank" rel="nofollow">https://facebook.com/bosiquanao.net</a></p>
          <p>Website: <a href="https://khoangsiann.com" target="_blank">khoangsiann.com</a></p>
          <p>Làm việc: 8h30 - 19h30 (Chủ Nhật 8h30 - 17h)</p>
        </div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1SPJpHhhr0or0othISdbCLOXTeTOTMpWK" width="100%" height="480"></iframe>
  </div>
</div>