<app-page-header [header]="headerPage" [description]="getDecription('sale')" [breadcrumbs]="[
    {label: 'Trang chủ',         url: '/'},
    {label: 'Hàng sale', url: '/sale'}
]"></app-page-header>

<ng-container *ngIf="columns > 3">
  <div class="container">
    <div class="block">
      <app-products-view [layout]="viewMode" [grid]="'grid-'+columns+'-full'" [sorts]="sorts" [products]="products"
        [pagingHeaders]="pagingHeaders" [loading]="loadingProduct | async" (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)">
      </app-products-view>
    </div>
  </div>
</ng-container>
