<!-- .topbar -->
<div class="site-header__topbar topbar">
  <div class="topbar__container container">
    <div class="topbar__row">
      <div class="topbar__item topbar__item--link">
        <a class="topbar-link" routerLink="/page/gioi-thieu">Giới thiệu</a>
      </div>
      <div class="topbar__item topbar__item--link">
        <a class="topbar-link" routerLink="/page/lien-he">Liên hệ</a>
      </div>
      <div class="topbar__spring"></div>
      <div class="topbar__item topbar__item--link">
          <a class="topbar-link" routerLink="/wishlist">Sản phẩm đã lưu</a>
        </div>
      <div class="topbar__item topbar__item--link">
        <div class="topbar-dropdown" appDropdown="topbar-dropdown--opened" #guideDropdown="appDropdown">
          <button class="topbar-dropdown__btn" type="button" (click)="guideDropdown.toggle()">
            Hướng dẫn
            <app-icon name="arrow-rounded-down-7x5" size="7x5"></app-icon>
          </button>
          <div class="topbar-dropdown__body">
            <app-header-menu layout="topbar" [items]="[
                {label: 'Hướng dẫn đặt hàng', url: '/page/huong-dan-dat-hang'},
                {label: 'Chính sách bán sỉ', url: '/page/chinh-sach-ban-si'},
                {label: 'Chính sách vận chuyển', url: '/page/chinh-sach-van-chuyen'},
                {label: 'Chính sách đổi trả', url: '/page/chinh-sach-doi-tra'},
                {label: 'Bảng size quần áo nam', url: '/page/bang-size-quan-ao-nam'},
                {label: 'Các Zalo xem hàng', url: '/page/zalo-xem-hang'},
                {label: 'Danh mục sản phẩm', url: '/page/danh-muc-san-pham'}
            ]"></app-header-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .topbar / end -->
