<app-page-header [header]="'Danh mục sản phẩm'" [breadcrumbs]="[
    {label: 'Trang chủ',      url: '/'},
    {label: 'Danh mục sản phẩm', url: '/page/danh-muc-san-pham'}
]"></app-page-header>
<div class="container">
  <div class="block">
    <div class="row block block-categories block-categories--layout--compact">
      <div class="container">
        <div class="block-categories__list">
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('do-bo-nu')"><img src="assets/images/categories/category-18.jpg"
                    alt="Đồ bộ nữ"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Đồ bộ nữ" [routerLink]="root.category('do-bo-nu')">Đồ bộ
                    nữ</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('vay-dam')"><img src="assets/images/categories/category-17.jpg"
                    alt="Váy đầm"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Váy đầm" [routerLink]="root.category('vay-dam')">Váy đầm</a>
                </div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('ao-thun-nu')"><img src="assets/images/categories/category-19.jpg"
                    alt="Áo thun nữ"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Áo thun nữ" [routerLink]="root.category('ao-thun-nu')">Áo
                    thun nữ</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('ao-so-mi-nu')"><img src="assets/images/categories/category-20.jpg"
                    alt="Áo sơ mi nữ"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Áo sơ mi nữ" [routerLink]="root.category('ao-so-mi-nu')">Áo
                    sơ mi nữ</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
              <div class="category-card__body">
                <div class="category-card__image">
                  <a [routerLink]="root.category('ao-dai-cach-tan')"><img src="assets/images/categories/category-16.jpg"
                      alt="Áo dài cách tân"></a>
                </div>
                <div class="category-card__content">
                  <div class="category-card__name"><a title="Áo dài cách tân" [routerLink]="root.category('ao-dai-cach-tan')">Áo
                      dài cách tân</a></div>
                </div>
              </div>
            </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('quan-nu')"><img src="assets/images/categories/category-23.jpg"
                    alt="Quần nữ"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Quần nữ" [routerLink]="root.category('quan-nu')">Quần nữ</a>
                </div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('do-lot-nu')"><img src="assets/images/categories/category-41.jpg"
                    alt="Đồ lót nữ"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Đồ lót nữ" [routerLink]="root.category('do-lot-nu')">Đồ lót
                    nữ</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('ao-khoac-nu')"><img src="assets/images/categories/category-21.jpg"
                    alt="Áo khoác nữ"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Áo khoác nữ" [routerLink]="root.category('ao-khoac-nu')">Áo
                    khoác nữ</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('quan-ao-nu', 'hang-order')"><img
                    src="assets/images/categories/order-product.png" alt="Quần áo nữ order"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Quần áo nữ order"
                    [routerLink]="root.category('quan-ao-nu', 'hang-order')">Quần áo nữ order</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
              <div class="category-card__body">
                <div class="category-card__image">
                  <a [routerLink]="root.category('quan-ao-nu', 'hang-sale')"><img
                      src="assets/images/categories/sale-product.jpg" alt="Quần áo nữ sale"></a>
                </div>
                <div class="category-card__content">
                  <div class="category-card__name"><a title="Quần áo nữ order"
                      [routerLink]="root.category('quan-ao-nu', 'hang-sale')">Quần áo nữ sale</a></div>
                </div>
              </div>
            </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('ao-thun-nam')"><img src="assets/images/categories/category-3.jpg"
                    alt="Áo thun nam"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Áo thun nam" [routerLink]="root.category('ao-thun-nam')">Áo
                    thun nam</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('ao-so-mi-nam')"><img src="assets/images/categories/category-7.jpg"
                    alt="Sơ mi nam"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Sơ mi nam" [routerLink]="root.category('ao-so-mi-nam')">Sơ mi
                    nam</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('ao-khoac-nam')"><img src="assets/images/categories/category-10.jpg"
                    alt="Áo khoác nam"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Áo khoác nam" [routerLink]="root.category('ao-khoac-nam')">Áo
                    khoác nam</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('quan-nam')"><img src="assets/images/categories/category-11.jpg"
                    alt="Quần nam"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Quần nam" [routerLink]="root.category('quan-nam')">Quần
                    nam</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('quan-lot-nam')"><img src="assets/images/categories/category-42.jpg"
                    alt="Quần lót nam"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Quần lót nam"
                    [routerLink]="root.category('quan-lot-nam')">Quần lót nam</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('set-bo-nam')"><img src="assets/images/categories/category-2.jpg"
                    alt="Set bộ nam"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Set bộ nam" [routerLink]="root.category('set-bo-nam')">Set bộ
                    nam</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('quan-ao-nam', 'hang-order')"><img
                    src="assets/images/categories/category-nam-order.jpg" alt="Quần áo nam order"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Quần áo nam order"
                    [routerLink]="root.category('quan-ao-nam', 'hang-order')">Quần áo nam order</a></div>
              </div>
            </div>
          </div>
          <div class="block-categories__item category-card category-card--layout--compact">
            <div class="category-card__body">
              <div class="category-card__image">
                <a [routerLink]="root.category('nuoc-hoa')"><img src="assets/images/categories/category-44.jpg"
                    alt="Nước hoa"></a>
              </div>
              <div class="category-card__content">
                <div class="category-card__name"><a title="Nước hoa" [routerLink]="root.category('nuoc-hoa')">Nước
                    hoa</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>