<app-page-header [header]="'Danh mục sản phẩm'" [breadcrumbs]="[
    {label: 'Trang chủ',      url: '/'},
    {label: 'Danh mục sản phẩm', url: '/page/danh-muc-san-pham'}
]"></app-page-header>
<div class="container">
  <div class="block">
      <div class="row block block-categories block-categories--layout--compact">
          <div class="container">
              <div class="block-categories__list">
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/do-bo-nu" href="/category/do-bo-nu"><img src="assets/images/categories/category-18.jpg" alt="Đồ bộ nữ"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/do-bo-nu" title="Đồ bộ nữ" href="/category/do-bo-nu">Đồ bộ nữ</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/vay-dam" href="/category/vay-dam"><img src="assets/images/categories/category-17.jpg" alt="Váy đầm"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/vay-dam" title="Váy đầm" href="/category/vay-dam">Váy đầm</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/ao-thun-nu" href="/category/ao-thun-nu"><img src="assets/images/categories/category-19.jpg" alt="Áo thun nữ"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/ao-thun-nu" title="Áo thun nữ" href="/category/ao-thun-nu">Áo thun nữ</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/quan-nu" href="/category/quan-nu"><img src="assets/images/categories/category-23.jpg" alt="Quần nữ"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/quan-nu" title="Quần nữ" href="/category/quan-nu">Quần nữ</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/do-lot-nu" href="/category/do-lot-nu"><img src="assets/images/categories/category-41.jpg" alt="Đồ lót nữ"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/do-lot-nu" title="Đồ lót nữ" href="/category/do-lot-nu">Đồ lót nữ</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/ao-khoac-nu" href="/category/ao-khoac-nu"><img src="assets/images/categories/category-21.jpg" alt="Áo khoác nữ"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/ao-khoac-nu" title="Áo khoác nữ" href="/shop-order/nu">Áo khoác nữ</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/ao-thun-nam" href="/category/ao-thun-nam"><img src="assets/images/categories/category-3.jpg" alt="Áo thun nam"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/ao-thun-nam" title="Áo thun nam" href="/category/ao-thun-nam">Áo thun nam</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/ao-so-mi-nam" href="/category/ao-so-mi-nam"><img src="assets/images/categories/category-7.jpg" alt="Sơ mi nam"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/ao-so-mi-nam" title="Sơ mi nam" href="/category/ao-so-mi-nam">Sơ mi nam</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/ao-khoac-nam" href="/category/ao-khoac-nam"><img src="assets/images/categories/category-10.jpg" alt="Áo khoác nam"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/ao-khoac-nam" title="Áo khoác nam" href="/category/ao-khoac-nam">Áo khoác nam</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/quan-nam" href="/category/quan-nam"><img src="assets/images/categories/category-11.jpg" alt="Quần nam"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/quan-nam" title="Quần nam" href="/category/quan-nam">Quần nam</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/quan-lot-nam" href="/category/quan-nam"><img src="assets/images/categories/category-42.jpg" alt="Quần lót nam"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/quan-lot-nam" title="Quần lót nam" href="/category/quan-nam">Quần lót nam</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="block-categories__item category-card category-card--layout--compact">
                      <div class="category-card__body">
                          <div class="category-card__image">
                              <a ng-reflect-router-link="/category/set-bo-nam" href="/category/set-bo-nam"><img src="assets/images/categories/category-2.jpg" alt="Set bộ nam"></a>
                          </div>
                          <div class="category-card__content">
                              <div class="category-card__name"><a ng-reflect-router-link="/category/set-bo-nam" title="Set bộ nam" href="/category/quan-nam">Set bộ nam</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>