<div class="product product--layout--{{ layout }}" *ngIf="product">
  <div class="product__content">
    <!-- .product__gallery -->
    <div class="product__gallery">
      <div class="product-gallery" *ngIf="showGallery">
        <div class="product-gallery__featured">
          <owl-carousel-o [options]="carouselOptions" (changed)="featuredCarouselTranslated($event)" appOwlPreventClick
            #featuredCarousel>
            <ng-container *ngFor="let image of images">
              <ng-template carouselSlide [id]="image.id">
                <a appClick (click)="openPhotoSwipe($event, image);" [href]="image.url" target="_blank">
                  <img defaultImage="/assets/images/350x467/placeholder.png"
                    [lazyLoad]="getImageThumbnail(image.url, '350x467')" offset="100" #imageElement>
                </a>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
        <div class="product-gallery__carousel">
          <owl-carousel-o [options]="thumbnailsCarouselOptions" [appFakeSlides]="images.length"
            #fakeSlides="appFakeSlides" appOwlPreventClick #thumbnailsCarousel>
            <ng-container *ngFor="let image of images">
              <ng-template carouselSlide [id]="image.id">
                <span class="product-gallery__carousel-item"
                  [ngClass]="{'product-gallery__carousel-item--active': image.active}" appClick
                  (click)="featuredCarousel.to(image.id); setActiveImage(image)">
                  <img class="product-gallery__carousel-image" [defaultImage]="'/assets/images/85x113/placeholder.png'"
                    [lazyLoad]="getImageThumbnail(image.url, '85x113')" [offset]="100">
                </span>
              </ng-template>
            </ng-container>
            <ng-container *ngFor="let i of fakeSlides.slides">
              <ng-template carouselSlide [id]="'fake-slide-'+i"></ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <!-- .product__gallery / end -->
    <!-- .product__info -->
    <div class="product__info">
      <div class="product__wishlist-compare">
        <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right"
          title="Lưu sản phẩm" appClick (click)="addToWishlist()" [ngClass]="{'btn-loading': addingToWishlist}">
          <app-icon name="wishlist-16" size="16"></app-icon>
        </button>
      </div>
      <h1 class="product__name">{{ product.name }}</h1>
      <div class="product__description">
        {{ product.materials }}
      </div>
      <ul class="product__meta">
        <li class="product__meta-availability">
          Tình trạng: <span
            [className]="product.availability ? 'text-success' : 'text-danger'">{{ product.availability ? 'Còn hàng' : 'Hết hàng' }}</span>
        </li>
        <li>Danh mục: <a href="/cua-hang/danh-muc/{{ product.categorySlug }}" appClick>{{ product.categoryName }}</a>
        </li>
        <li>Mã: {{ product.sku }}</li>
      </ul>
    </div>
    <!-- .product__info / end -->
    <!-- .product__sidebar -->
    <div class="product__sidebar">
      <div class="product__availability">Tình trạng: <span
          [className]="product.availability ? 'text-success' : 'text-danger'">{{ product.availability ? 'Còn hàng' : 'Hết hàng' }}</span>
      </div>

      <div class="product__prices">
        <ng-container>
          Giá sỉ: <span class="product__price">{{ product.regularPrice|currencyFormat }}</span>
        </ng-container>
      </div>
      <div class="product__prices">
        <ng-container>
          Giá lẻ: <span class="product__price">{{ product.retailPrice|currencyFormat }}</span>
        </ng-container>
      </div>
      <!-- .product__options -->
      <form class="product__options">
        <div class="form-group product__option" *ngIf="product.colors?.length">
          <label class="product__option-label">Màu</label>
          <div class="input-radio-label">
            <div class="input-radio-label__list">
              <label *ngFor="let color of product.colors">
                <input #colorElement type="radio" name="color" (click)="selectColor(colorElement, color.id)">
                <span>{{ color.name }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group product__option" *ngIf="product.sizes?.length">
          <label class="product__option-label">Size</label>
          <div class="input-radio-label">
            <div class="input-radio-label__list">
              <label *ngFor="let size of product.sizes">
                <input #sizeElement type="radio" name="size" (click)="selectSize(sizeElement, size.id)">
                <span>{{ size.name }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group product__option">
          <div class="product__actions">
            <div class="product__actions-item product__actions-item--copy">
              <button type="button" class="btn btn-primary btn-lg" [ngClass]="{'btn-loading': copyingProductInfo}"
                appClick (click)="copyProductInfo(copy)" #copy>COPY</button>
            </div>
            <div class="product__actions-item product__actions-item--save-image">
              <button type="button" class="btn btn-primary btn-lg" appClick (click)="saveProductImage()">Tải
                hình</button>
            </div>
            <div class="product__actions-item product__actions-item--wishlist">
              <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip"
                title="Lưu sản phẩm" [ngClass]="{'btn-loading': addingToWishlist}" appClick (click)="addToWishlist()">
                <app-icon name="wishlist-16" size="16"></app-icon>
              </button>
            </div>
            <div class="product__actions-item product__actions-item--gear">
              <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip"
                title="Cài đặt COPY" [ngClass]="{'btn-loading': showingCopyConfig}" appClick (click)="showCopyConfig()">
                <app-icon name="gear-512" size="16"></app-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
      <!-- .product__options / end -->
    </div>
  </div>
</div>
