<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                Thật đáng tiếc...
            </div>

            <div class="not-found__content">
                <h1 class="not-found__title">Không tìm thấy nội dung</h1>

                <p class="not-found__text">
                    Vui lòng sử dụng chức năng tìm kiếm để tìm nội dung khác!<br>
                </p>

                <p class="not-found__text">
                    Hoặc vào trang chủ để khám phá nội dung.
                </p>

                <a class="btn btn-secondary btn-sm" href="/">Vào trang chủ</a>
            </div>
        </div>
    </div>
</div>
