<app-page-header [header]="'Danh sách ưa thích'" [breadcrumbs]="[
    {label: 'Trang chủ',      url: '/'},
    {label: 'Danh sách ưa thích', url: ''}
]"></app-page-header>

<div class="block block-empty" *ngIf="!(wishlist.items$|async).length">
    <div class="container">
        <div class="block-empty__body">
            <div class="block-empty__message">Chưa có sản phẩm!</div>
            <div class="block-empty__actions">
                <a routerLink="/" class="btn btn-primary btn-sm">Xem sản phẩm</a>
            </div>
        </div>
    </div>
</div>

<div class="block" *ngIf="(wishlist.items$|async).length">
    <div class="container">
        <table class="wishlist">
            <thead class="wishlist__head">
            <tr class="wishlist__row">
                <th class="wishlist__column wishlist__column--image">Hình</th>
                <th class="wishlist__column wishlist__column--product">Sản phẩm</th>
                <th class="wishlist__column wishlist__column--stock">Kho</th>
                <th class="wishlist__column wishlist__column--price">Giá</th>
                <th class="wishlist__column wishlist__column--remove"></th>
            </tr>
            </thead>
            <tbody class="wishlist__body">
            <tr *ngFor="let product of wishlist.items$|async" class="wishlist__row">
                <td class="wishlist__column wishlist__column--image">
                    <a [routerLink]="root.product(product.id)" *ngIf="product.thumbnails.length">
                        <picture>
                            <source media="(max-width: 766px)" [srcset]="getImageThumbnail(product.thumbnails, '350x467')">
                            <img [src]="getImageThumbnail(product.thumbnails, '240x320')" alt="">
                        </picture>
                    </a>
                </td>
                <td class="wishlist__column wishlist__column--product">
                    <a [routerLink]="root.product(product.id)" class="wishlist__product-name">{{ product.name }}</a>
                    <div class="wishlist__product-sku">
                        Mã: {{ product.sku }}
                    </div>
                </td>
                <td class="wishlist__column wishlist__column--stock">
                    <div [className]="product.availability ? 'badge-success' : 'badge-danger'">
                        {{ product.availability ? 'Còn hàng' : 'Hết hàng' }}
                    </div>
                </td>
                <td class="wishlist__column wishlist__column--price">
                    <div>Giá sỉ: {{ product.regularPrice|currencyFormat }}</div>
                    <div>Giá lẻ: {{ product.retailPrice|currencyFormat }}</div>
                </td>
                <td class="wishlist__column wishlist__column--remove">
                    <button type="button" class="btn btn-light btn-sm btn-svg-icon" (click)="remove(product)" [ngClass]="{'btn-loading': removedProducts.includes(product)}">
                        <app-icon name="cross-12" size="12"></app-icon>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
