<div class="block block-empty" *ngIf="!products.length">
    <div class="container">
        <div class="block-empty__body">
            <div class="block-empty__message">Sản phẩm đang được cập nhật</div>
            <div class="block-empty__actions">
                <a routerLink="/" class="btn btn-primary btn-sm">Tiếp tục</a>
            </div>
        </div>
    </div>
</div>

<div class="products-view" *ngIf="products.length">
    <div class="products-view__options">
        <div class="view-options">
            <div *ngIf="pagingHeaders.totalPages" class="view-options__legend">
                Trang {{ pagingHeaders.currentPage }} trên {{ pagingHeaders.totalPages }} trang
                ({{ pagingHeaders.totalCount }} sản phẩm)
            </div>
            <div class="view-options__divider"></div>
            <div class="view-options__control">
                <label for="view-options-sort">Sắp xếp</label>
                <div>
                    <select class="form-control form-control-sm" name="" id="view-options-sort"
                        (change)="onSortChange($event.target.value)">
                        <option *ngFor="let item of sorts" [value]="item.key">{{ item.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="block block--highlighted block-categories block-categories--layout--compact">
        <div class="container">
            <div class="block-categories__list">
                <div *ngFor="let product of products"
                    class="block-categories__item category-card category-card--layout--compact">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <img defaultImage="/App_Themes/Ann/image/placeholder.png" [lazyLoad]="getImageThumbnail(product.thumbnails, '85x113')"
                                offset="100">
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name">
                                {{ product.name }}
                            </div>
                            <div class="category-card__products">
                                Mã: {{ product.sku }}
                            </div>
                            <div class="category-card__buttons">
                                <button class="btn btn-primary" type="button" appClick (click)="clickWebPublish(btWebPublish, product)" [ngClass]="{'btn-loading': updatingWebPublish}" #btWebPublish>{{ product.webPublish ? 'Hiện' : 'Ẩn' }}</button>
                                <button class="btn btn-primary" type="button" appClick (click)="clickWebUpdate(product)" [ngClass]="{'btn-loading': updatingWebUpdate}">Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="pagingHeaders.totalPages && pagingHeaders.totalPages !== 1" class="products-view__pagination">
        <app-pagination [current]="pagingHeaders.currentPage" [siblings]="2" [total]="pagingHeaders.totalPages"
            (pageChange)="onPageChange($event)"></app-pagination>
    </div>
</div>
