<div class="products-view">
    <div class="products-view__options">
        <div class="view-options">
            <div class="view-options__layout">
                <div class="layout-switcher">
                    <div class="layout-switcher__list">
                        <button title="Grid" type="button" class="layout-switcher__button"
                                [ngClass]="{'layout-switcher__button--active': layout === 'grid'}" (click)="setLayout('grid')">

                            <app-icon name="layout-grid-16x16" size="16"></app-icon>
                        </button>
                        <button title="Grid With Features" type="button" class="layout-switcher__button"
                                [ngClass]="{'layout-switcher__button--active': layout === 'grid-with-features'}" (click)="setLayout('grid-with-features')">

                            <app-icon name="layout-grid-with-details-16x16" size="16"></app-icon>
                        </button>
                        <button title="List" type="button" class="layout-switcher__button"
                                [ngClass]="{'layout-switcher__button--active': layout === 'list'}" (click)="setLayout('list')">

                            <app-icon name="layout-list-16x16" size="16"></app-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="pagingHeaders.totalPages" class="view-options__legend">
                Trang {{ pagingHeaders.currentPage }} trên {{ pagingHeaders.totalPages }} trang ({{ pagingHeaders.totalCount }} sản phẩm)
            </div>
            <div class="view-options__divider"></div>
            <div class="view-options__control">
                <label for="view-options-sort">Sắp xếp</label>
                <div>
                    <select class="form-control form-control-sm" name="" id="view-options-sort" (change)="onSortChange($event.target.value)">
                        <option *ngFor="let item of sorts" [value]="item.key">{{ item.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="products-view__list products-list" [attr.data-layout]="layout != 'list' ? grid : layout" [attr.data-with-features]="layout == 'grid-with-features' ? 'true' : 'false'">
        <div class="products-list__body">
            <div *ngFor="let product of products" class="products-list__item">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </div>

    <div *ngIf="pagingHeaders.totalPages" class="products-view__pagination">
        <app-pagination [current]="pagingHeaders.currentPage" [siblings]="2" [total]="pagingHeaders.totalPages" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
</div>
