<div class="site-footer">
  <div class="container">
    <div class="site-footer__widgets">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <app-footer-contacts></app-footer-contacts>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <app-footer-links header="Thông tin" [links]="[
              {label: 'Giới thiệu', url: '/page/gioi-thieu'},
              {label: 'Thông báo', url: '/page/thong-bao'},
              {label: 'Liên hệ', url: '/page/lien-he'},
              {label: 'Hướng dẫn mua sỉ', url: '/page/huong-dan-dat-hang'},
              {label: 'Chính sách vận chuyển', url: '/page/chinh-sach-van-chuyen'},
              {label: 'Chính sách thanh toán', url: '/page/chinh-sach-thanh-toan'},
              {label: 'Chính sách đổi trả hàng', url: '/page/chinh-sach-doi-tra'}
          ]"></app-footer-links>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
          <app-footer-links header="Sản phẩm" [links]="[
              {label: 'Danh mục sản phẩm', url: '/page/danh-muc-san-pham'},
              {label: 'Danh sách ưa thích', url: '/wishlist'},
              {label: 'Hàng có sẵn',  url: '/shop/hang-co-san'},
              {label: 'Hàng order',  url: '/shop/hang-order'}
          ]"></app-footer-links>
        </div>
      </div>
    </div>

    <div class="site-footer__bottom">
      <div class="site-footer__copyright">
        Bản quyền thuộc <a href="http://xuongann.com/" target="_blank">Xưởng Sỉ ANN</a>
      </div>
    </div>
  </div>
</div>
